.formSection{
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.radie{
  border-radius: 5px;
  background-color: darkgoldenrod;
}